<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Binance2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Binance2.My.MySettings>
            <setting name="UPtimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="period" serializeAs="String">
                <value>1D</value>
            </setting>
            <setting name="Asset" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BTC</string>
                        <string>ETH</string>
                        <string>USDT</string>
                        <string>BNB</string>
                        <string>EOS</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Split" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Ctimer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ATO" serializeAs="String">
                <value>1</value>
            </setting>
        </Binance2.My.MySettings>
    </userSettings>
</configuration>